<% include partials/head %> 
<div class="wrapper">
    <h1><%= title %></h1>
    <div class="ra-r">
        <div class="tp">
            <a class="thumb-pr mn" href="">Standard Pizza</a>
            <a class="thumb-pr r-e" href="">Make your own</a>
        </div>
       
    </div>
</div>
<% include partials/foot %>