<% include partials/head %> 
<div class="wrapper">
    <h1><%= title %></h1>
    <div class="container">
        <h2>This is a project from the module Server-Side Web Development.</h2>
        <p>In this website, you can create/delete/modify/report the daily usage from a user.</p>
        <p>You can check the github repository if you click on the github footer logo.</p>
        <p>I have used the following programming languages/modules/tools:</p>
        <br />
        <ol>
            <li>
                <a href="https://www.javascript.com/" target=”_blank”>
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" width="50px" height="65px"/>
                </a>
            </li>
            <li>
                <a href="https://www.w3schools.com/html/" target=”_blank”>  
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-plain-wordmark.svg" width="50px" height="65px"/>
                </a>
            </li>
            <li>
                <a href="https://www.w3schools.com/css/" target=”_blank”>  
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-plain-wordmark.svg" width="50px" height="65px"/>
                </a>
            </li>
            <li>
                <a href="https://nodejs.org/en/" target=”_blank”>  
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original-wordmark.svg" width="80px" height="65px"/>
                </a>
            </li>
            <li>          
                <a href="https://www.npmjs.com/" target=”_blank”>  
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/npm/npm-original-wordmark.svg" width="80px" height="65px"/>
                </a>
            </li>
            <li>
                <a href="https://expressjs.com/" target=”_blank”> 
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/express/express-original-wordmark.svg" width="80px" height="65px"/>
                </a>
            </li>
            <li>
                <a href="https://code.visualstudio.com/" target=”_blank”> 
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original.svg" width="50px" height="65px"/>
                </a>
            </li>
            <li>
                <a href="https://github.com/" target=”_blank”> 
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" width="50px" height="65px"/>
                </a>
            </li>
        </ol>
    </div>
</div>
<% include partials/foot %>