<!DOCTYPE html>
<html>
  <% include partials/head %>
    <div class="wrapper">
        <h1><%= title %></h1>
        <div class="ra-r"></div>
        <body>

            <div style="margin:0 auto ; width:50%; padding:20px">
              <form action="/usages/create" method="post">
              <label>Name</label>
              <input type="text" name="name">
              <br /><br />
              <label>Shopping Usage</label>
              <input type="number" name="shopping_usage" placeholder="minutes">
                <br /> <br />
                <label>Education Usage</label>
              <input type="number" name="education_usage" placeholder="minutes">
                <br /> <br />
                <label>Browsing Usage</label>
              <input type="number" name="browsing_usage" placeholder="minutes">
                <br /> <br />
                <label>Social Media Usage</label>
              <input type="number" name="social_media_usage" placeholder="minutes">
                <br /> <br />
                <label>Date</label>
              <input type="date" name="date">
                <br /> <br />
                <!-- HTML !-->
              <button type="submit" class="button-2" role="button">Create</button>
                </form>
              </div>
            </body>
    </div>
</div>
   <% include partials/foot %>

</html>