* {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-size: 13px;
  line-height: 1.5;
  color: #000;
  overflow-y: scroll;
  background: #F7F7F9;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: Nunito;
}
a {
  text-decoration: none;
  color: #000;
}
header {
  margin-bottom: 20px;
  background: white;
}
footer {
  width: 100%;
  height: 28px;
  position: absolute;
  bottom: 70px; 
  left: 0px; 
  text-align: center; 
}
.wrapper {
  max-width: 970px;
  overflow: hidden;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: inherit;
  margin-left: auto;
  margin-right: auto;
}
li {
  display: inline-block;;
  line-height: 52px;
  /* margin: 0 2px; */
}
li a {
  line-height: 52px;
  display: block;
  height: 52px;
  color: #666666;
  font-weight: 600;
  padding: 0 10px;
}
a:hover {
  /* background: #f9f9f9f9; */
  color: #333;
}
a.logo {
  background: url(../images/screentimelogo.png) no-repeat center center / cover;
  color: transparent;
  width: 40px;
  height: 40px;
  margin: 7px 0;
  float: left;
}

ul.nv-l {
  float: left;
  margin-left: 20px;
}

ul.nv {
  float: right;
  margin-right: -10px;
}
.rt-wrapper {
  margin-left: -20px;
  margin-right: -44px;
  overflow: auto;
  margin-top: 20px;
}
.rt-b {
  float: left;
  width: 22%;
  background: white;
  border-radius: 5px;
  min-height: 630px;
  margin: 0 0 20px 20px;
}
.rt-b img {
  display: block;
  max-width: 100%;
  width: 100%;
  border-radius: 5px 5px 0 0;
  height: auto;
}
a.rt-href {
  display: block;
  position: relative;
}
.rt-b h1 {
  padding: 15px 15px 5px 15px;
  font-size: 15px;
  margin: 0;
}
.pr-t {
  padding: 0 15px;
  color: #1C76C8;
  font-weight: 600;
}
.rt-b p {
  color: #777;
  max-height: 94px;
  padding: 10px 15px 10px 15px;
}
a.add-b {
  background: #1174CB;
  color: white;
  margin: 15px;
  display: block;
  font-weight: 600;
  height: 37px;
  text-align: center;
  border-radius: 4px;
  line-height: 37px;
}
.nv-b {
  background: white;
  display: block;
  border-radius: 5px;
  overflow: auto;
  padding: 0 19px;
}
.nv-g {
  padding-right: 10px;
  color: #666666;
}
.nv-b a.ac {
  border-bottom: 2px solid #1174CB;
  font-weight: 600;
  color: #000;
  height: 50px;
}
.nv-b a {
  font-weight: 400;
}
h1 {
  font-size: 3em;
  margin-top: 20px;
}
h2 {
  margin-top: 20px;
}
a.thumb-pr {
  display: block;
  width: 230px;
  font-size: 2em;
  color: white;
  height: 230px;
  float: left;
  padding: 40px;
  /* line-height: 365px; */
  margin-bottom: 20px;
}

.ra-r {
  /* background: red; */
  margin-top: 20px;
  overflow: auto;
}
.tp {
  height: 400px;
}
.bt {
  margin-top: 20px;
}
p {
  width: 600px;
  font-size: 15px;
}
.artists-list {
  margin-bottom: 10px;
  float: left;
  width: 29%;
  padding: 4px 20px;
}
.container {
  overflow: auto;
  margin-top: 40px;
}
a.sh-c:hover {
  color: transparent;
}
.dropdown-content {
  display: none;
  position: absolute;
  background: #222;
  width: 230px;
  padding: 5px;
  min-height: 100px;
  margin-left: -200px;
  line-height: initial;
  margin-top: -10px;
  z-index: 9999;
  border-radius: 5px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  padding: 4px 15px;
  text-decoration: none;
  font-weight: 500;
  /* font-size: 15px; */
  height: auto;
  line-height: initial;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {/*background-color: rgba(255, 255, 255, 0.05);*/color: #fff;/* color: rgba(0, 0, 0, 1); */}
.dropdown-arrow {
  /* content: ""; */
  position: absolute;
  bottom: 100%;
  left: 225px;
  border: 5px solid transparent;
  border-bottom-color: #222;
  border-top-width: 0;
  height: 0;
  width: 0;
}
.art-cart {
  color: white;
  display: block;
  line-height: initial;
  height: max-content;
  overflow: auto;
}
.fr {
  /* background: red; */
  float: right;
  display: block;
  text-align: right;
  color: white;
  width: 100%;
}
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
  background-color: #5150c7;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #5150c7;
}
/* CSS */
.button-2 {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
input {
  padding:10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(143, 112, 112, 0.06);
  border-radius:10px;
}
label {
  margin: 10px;
  padding-bottom: 10px;
}