<!DOCTYPE html>
<html>
 
<head>
    <title>Home Page</title>
     
    <style type="text/css" media="screen">
        body {
            background-color: rgb(164, 180, 187);
            text-decoration-color: white;
            font-size:7em;
        }
    </style>
</head>
 
<body>
    <center> Welcome to MTU</center>
</body>
 
</html>   