<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="icon" type="image/x-icon" href="/images/favicon-32x32.png">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="wrapper">
                <a class="logo" href="/">Daily Usage</a>
                <ul class="nv-l">
                    <li><a href="/usages/create">Create</a></li>
                    <li><a href="/usages/delete">Delete</a></li>
                    <li><a href="">Modify</a></li>
                    <li><a href="/usages/report">Report</a></li>
                </ul>
                <ul class="nv">
                    <li><a href="/aboutus">About us</a></li>
                    <li><a href="/help">Help</a></li>
                </ul>
            </div>
        </header>