<!DOCTYPE html>
<html>

        <h1><%= bookdetails.name %></h1>
        <div class="ra-r"></div>
             <body>

            <div style="margin:0 auto ; width:50%; padding:20px">
             <label>Name</label><h1><%= bookdetails.name %></h1>
              
                <br /> <br /> <br /> <br />
              <label>Description</label>
              <h1><%= bookdetails.description %></h1>
                <br /> <br /> <br /> <br />
                <label>isbn</label>
                <h1><%= bookdetails.isbn %></h1>
                <br /> <br /> <br /> <br />
             
              </div>
            </body>
    </div>

</html>