<% include ../partials/head %> 
<div class="wrapper">
    <h1><%= title %></h1>
    <h2>Class Project</h2>
    <div style="display:inline-block;vertical-align:top;">
        <p>I am Alberto Ruiz Bernabeu. I was born in Castellón de la Plana, Spain.</p>
        <p>I am currently in 3rd year of computer engineering (specialisation in software engineering) in Ireland as a part of the Erasmus+ Programme.</p>
        <p>This is a website that allows the user to create/delete/modify/report the daily usage of your phone.</p>
        <p>It is a lab project. I have used VSCode as my text editor choice and Git & Github to store and manage my code (you can checkout the code if you click on the github logo at the bottom of the page).</p>
        </div>
        <div style="display:inline-block;margin-left: 60px;">
        <img src="https://avatars.githubusercontent.com/u/51917247?s=400&u=71d8a309ca554a0c7cc6f3269902174adf54e5d6&v=4" alt="img" width="150px" style="border-radius: 20px;"/>
    </div>
</div>
<% include ../partials/foot %>